html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
#container{
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    grid-template-rows: 2fr 3fr 1fr 2fr;
    grid-gap: 5px 5px;
    grid-template-areas: 
            'a a b'
            'a a c'
            'd g c'
            'd e f';
    justify-items: stretch;
    align-items: stretch;
    height: 100%;
    padding: 5px;
}
#container>*{
    border: black solid 1px;
}
#map{
    grid-area: a;
}
#sunburst{
    grid-area: d;
}
#stackbar{
    grid-area: c;
    overflow-x: visible;
}
#linechart{
    grid-area: b;
}
#datemap{
    grid-area: f;
}
#attributes{
    grid-area: e;
    display: flex;
    flex-direction: column;
}
#year{
    display: flex;
    flex-direction: column;
}
#selects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}
#selects>li{
    text-align: center;
    padding: 5px 50px;
    margin: 0;
    cursor: pointer;
}
#year{
    padding-top: 10px;
}
#year-range{ 
    flex-grow: 1;
}
#year-label{
    text-align: center;
}
#rates{
    grid-area: g;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr 1fr;
}