.active{
    background-color: #1e90ff;
    border-radius: 30px;
    color: #ffffff;
}
.circle{
    fill: crimson;
    stroke: black;
    stroke-width: 2px;
}
body{
    background-color: #dfe4ea;
}
#selects{
    border-radius: 30px;
    background-color: #ffffff;
}
#top{
    background-color: #ffffff;
}
#main-canvas{
    background-image: url('../data/map.png');
    background-repeat:round;
    background-position: -10% -10%;
    background-size: 90% 90%;
}