.circle{
    fill: crimson;
    stroke: black;
    stroke-width: 2px;
    opacity: 0.8;
}
body{
    background-color: white;
}
#selects{
    border-radius: 15px;
    background-color: #ffffff;
}
#selects{
    background-color: #1abc9c;
    margin: 2px;
}
#selects>li{
    color: white;
}
#selects>li:not(:last-child){
    border-bottom: 1px black dotted;
}
#selects>li:hover{
    color:#2980b9;
}
#selects>li.select-active{
    color:#e74c3c;
    font-weight: bold;
}
#year-label{
    background-color:rgb(205, 205, 205);
    align-self: center;
    border-radius: 10px;
    padding-inline: 10px;
}
#container svg{
    background-color:#ecf0f1;
}
#map::after{
    content: '';
    width: 0px;
    border: 10px black solid;
}
.tooltip{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 120;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
    border-style: solid; 
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
    pointer-events:none;
}
.tooltip::after{
    position: absolute;
    bottom: -20px;
    align-self: center;
    content: " ";
    width: 0px;
    border-color: white transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
}
.tooltip::before{
    position: absolute;
    bottom: -22px;
    align-self: center;
    content: " ";
    width: 0px;
    border-color: black transparent transparent transparent;
    border-width: 11px;
    border-style: solid;
}
#rates>p{
    text-align: center;
}
.water{
    position: relative;
    -webkit-mask-image: url('../data/mask.png');
    -webkit-mask-repeat: round;
}
.wave{
    width: 100%;
    height: 100%;
    top: 0%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.water{
    background: darkturquoise;
    height: 100%;
}
.bubble{
    position: relative;
}
.bubble::after{
    content: attr(rate);
    position: absolute;
    transform: translate(-45%, -50%);
    top: 60%;
    left: 50%;
    font-size: xx-large;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1px rgb(2, 133, 135);
}
.wave:after{
    content: "";
    align-self: center;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: -95%;
    border-radius: 40%;
    animation: wave 5s linear infinite;
}
@keyframes wave{
    100%{
        transform: rotateZ(360deg);
    }
}
